.page {
    min-width: 1100px;
    max-width: 1600px;
    margin: 0 auto;
    font-family: 'Helvetica Neue', Arial, sans-serif;
  }

.page a {
    text-decoration: none;
    transition: opacity 0.3s ease;
  }
  
.page a:hover {
    opacity: 0.7;
  }