.profile__avatar-edit-icon {
    display: none;
    width: 26px;
    height: 26px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    content: url('../../../images/edit-icon.svg');
}

.profile__avatar-edit-icon:hover .profile__image {
    filter: brightness(20%);
}