.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  position: relative;
  display: flex;
  margin: 0 auto;
  padding: 0;
}

.logo_place_header {
  position: absolute;
  width: 228px;
  height: 32px;
  top: 30px;
  left: 64px;
  z-index: 1;
}

.header__title {
  width: 730px;
  height: 96px;
  display: flex;
  align-self: center;
  margin-left: 64px;
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
  z-index: 1;
}

.header__subtitle  {
  position: absolute;
  width: 388px;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 1;
}

.header__link {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  z-index: 1;
}

.main-illustration {
  position: absolute;
  width: 765px;
  height: 608px;
  bottom:0;
  right:0;
  z-index: 0;
}


/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  top: 64px;
  right:0;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  z-index: -1;
}

.description {
  display: flex;
  margin: 0 auto;
}

.two-colums {
  display: flex;
  margin: 100px auto;
  width: 80%;
  justify-content: space-between;
  padding: 0;
}

.brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.main-text {
  width: 80%;
  min-width: 784px;
}

.paragraph {
  margin-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px auto;
}

.section-title {
  margin: 0 auto;
  display: flex;
  width: 60%;
  margin-bottom: 20px;
  justify-content: center;
}

.section-subtitle {
  display: flex;
  width: 60%;
  justify-content: center;
  margin: 0 auto;
}

.table {
  display: flex;
  width: 1100px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cell {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.section-title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 0;
}

.text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 20px;
}

.feynman {
  height: 790px;
  padding-top: 100px;
  background-image: url("../images/feynman.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 867px 637px;
  position: relative;
}

.feynman__title {
  display: flex;
  text-align: center;
  margin: 0 auto 70px;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
}

.feynman__subtitle {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  text-decoration: none;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__illustration {
  position: absolute;
  width: 867px;
  height: 637px;
}

.kaufman {
  padding-top: 90px;
  padding-bottom: 90px;
  position: relative;
  overflow: hidden;
  background-color: #1f1f1f;
}

.kaufman__triangle {
  background-image: url("../images/kaufman-triangle.svg");
  width: 877px;
  height: 877px;
  right: -210px;
  top: 0;
  background-repeat: no-repeat;
  position: absolute;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  list-style: none;
}

.table_theme_dark {
  z-index: 1;
  position: relative;
  margin: 0 auto;
}

.section-title_theme_dark {
    line-height: 1.15;
    font-size: 60px;
    font-weight: 600;
    color: white;
    text-align: center;
}

.section-subtitle_theme_dark {
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    color: white;
    text-align: center;
}

.table__heading_theme_dark {
    line-height: 1.15;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    color: white;
    text-align: left;
}

.table__text_theme_dark {
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    color: white;
    text-align: left;
}

.footer {
  min-height: 250px;
  height: 1px;
  padding: 60px 0 40px;  
  background-color: #1f1f1f;
  color: white;
}

.footer__author {
  margin: 18px 0;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
}

.footer__columns {
  height: 100%;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer__column_content_copyright {
  flex-basis: 711px;  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__column-heading {
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
}

.footer__column-links {
  font-size: 18px;
  line-height: 25px;
  margin: 20px 0 16px;
  display: flex;
  flex-direction: column;
}

.footer__column-link {
  color: white;
  column-gap: 10px;
  display: flex;
  text-decoration: none;
}

.footer__social–icon {
  width: 16px;
  height: 16px;
}

.logo_place_footer {
  width: 228px;
  height: 32px;
  position: static;
}